In [ ]:
import pandas as pd

In [2]:
pwd

'/Users/girgs/Desktop/mapping_mambas'

In [3]:
nba_db = pd.read_csv("csv_files/raw_file/NBA Finals and MVP Count.csv")

In [4]:
nba_db

,Year,Western Champion,Eastern Champion,Result,NBA Champion,NBA Vice-Champion,Final Sweep ?,MVP Name,MVP Height (m),MVP Height (ft),MVP Position,MVP Team,MVP Nationality,MVP status,Value
0,1950,Minneapolis Lakers,Syracuse Nationals,4–2,Minneapolis Lakers,Syracuse Nationals,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
1,1951,Rochester Royals,New York Knicks,4–3,Rochester Royals,New York Knicks,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
2,1952,Minneapolis Lakers,New York Knicks,4–3,Minneapolis Lakers,New York Knicks,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
3,1953,Minneapolis Lakers,New York Knicks,4–1,Minneapolis Lakers,New York Knicks,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
4,1954,Minneapolis Lakers,Syracuse Nationals,4–3,Minneapolis Lakers,Syracuse Nationals,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66,2016,Golden State Warriors,Cleveland Cavaliers,4–3,Cleveland Cavaliers,Golden State Warriors,False,S. Curry,1.91,6.27,Guard,Golden State Warriors,US,Vice-Champion,1
67,2017,Golden State Warriors,Cleveland Cavaliers,4-2,Golden State Warriors,Cleveland Cavaliers,False,R. Westbrook,1.91,6.27,Guard,Oklahoma City Thunder,US,Not reached Final,1
68,2018,Golden State Warriors,Cleveland Cavaliers,4-0,Golden State Warriors,Cleveland Cavaliers,True,J. Harden,1.96,6.50,Guard,Houston Rockets,US,Not reached Final,1
69,2019,Golden State Warriors,Toronto Raptors,4-2,Toronto Raptors,Golden State Warriors,False,G. Antetokounmpo,NaN,NaN,Forward,Milwaukee Bucks,Geece,Not reached Final,1
70,2020,Los Angeles Lakers,Miami Heat,4-1,Los Angeles Lakers,Miami Heat,False,G. Antetokounmpo,NaN,NaN,Forward,Milwaukee Bucks,Greece,Not reached Final,1

In [110]:
nba_new = nba_db.rename(columns={"NBA Champion":"name"})
nba_year_df = nba_new.rename(columns={"Year":"year"})

In [111]:
nba_year_df

,year,Western Champion,Eastern Champion,Result,name,NBA Vice-Champion,Final Sweep ?,MVP Name,MVP Height (m),MVP Height (ft),MVP Position,MVP Team,MVP Nationality,MVP status,Value
0,1950,Minneapolis Lakers,Syracuse Nationals,4–2,Minneapolis Lakers,Syracuse Nationals,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
1,1951,Rochester Royals,New York Knicks,4–3,Rochester Royals,New York Knicks,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
2,1952,Minneapolis Lakers,New York Knicks,4–3,Minneapolis Lakers,New York Knicks,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
3,1953,Minneapolis Lakers,New York Knicks,4–1,Minneapolis Lakers,New York Knicks,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
4,1954,Minneapolis Lakers,Syracuse Nationals,4–3,Minneapolis Lakers,Syracuse Nationals,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66,2016,Golden State Warriors,Cleveland Cavaliers,4–3,Cleveland Cavaliers,Golden State Warriors,False,S. Curry,1.91,6.27,Guard,Golden State Warriors,US,Vice-Champion,1
67,2017,Golden State Warriors,Cleveland Cavaliers,4-2,Golden State Warriors,Cleveland Cavaliers,False,R. Westbrook,1.91,6.27,Guard,Oklahoma City Thunder,US,Not reached Final,1
68,2018,Golden State Warriors,Cleveland Cavaliers,4-0,Golden State Warriors,Cleveland Cavaliers,True,J. Harden,1.96,6.50,Guard,Houston Rockets,US,Not reached Final,1
69,2019,Golden State Warriors,Toronto Raptors,4-2,Toronto Raptors,Golden State Warriors,False,G. Antetokounmpo,NaN,NaN,Forward,Milwaukee Bucks,Geece,Not reached Final,1
70,2020,Los Angeles Lakers,Miami Heat,4-1,Los Angeles Lakers,Miami Heat,False,G. Antetokounmpo,NaN,NaN,Forward,Milwaukee Bucks,Greece,Not reached Final,1

In [112]:
wins_db = nba_year_df.assign(value = nba_year_df.groupby('name').cumcount()+1)

In [113]:
place_holders = pd.DataFrame([{'year': Year, "name": team} for Year in nba_year_df.year.values for team in nba_year_df['name'].unique()])

In [114]:
drop_duplicates = pd.concat([wins_db, place_holders]).drop_duplicates(['year', 'name'])

In [115]:
nba_year_df["name"].nunique()

22

In [116]:
fixed_dfs = []

In [117]:
for team, df in drop_duplicates.groupby("name"): 
    fixed_df = df.sort_values("year").ffill().fillna(0)[['year', 'name', "value"]].assign(lastValue = lambda x:x.value.shift(1)).fillna(0)
    fixed_dfs.append(fixed_df)

In [118]:
total_wins_df = pd.concat(fixed_dfs)

In [119]:
total_wins_df.query("`name` == 'Los Angeles Lakers'").tail(15)

      year                name  value  lastValue
1241  2006  Los Angeles Lakers    9.0        9.0
1263  2007  Los Angeles Lakers    9.0        9.0
1285  2008  Los Angeles Lakers    9.0        9.0
59    2009  Los Angeles Lakers   10.0        9.0
60    2010  Los Angeles Lakers   11.0       10.0
1351  2011  Los Angeles Lakers   11.0       11.0
1373  2012  Los Angeles Lakers   11.0       11.0
1395  2013  Los Angeles Lakers   11.0       11.0
1417  2014  Los Angeles Lakers   11.0       11.0
1439  2015  Los Angeles Lakers   11.0       11.0
1461  2016  Los Angeles Lakers   11.0       11.0
1483  2017  Los Angeles Lakers   11.0       11.0
1505  2018  Los Angeles Lakers   11.0       11.0
1527  2019  Los Angeles Lakers   11.0       11.0
70    2020  Los Angeles Lakers   12.0       11.0

In [120]:
total_wins_df.to_json('total wins by year.json', orient='records')