In [1]:
import pandas as pd
from sqlalchemy import create_engine, func, inspect, asc , desc, and_

In [10]:
#SQL Use Tool
engine = create_engine("sqlite:///static/assets/mappingmambas.sqlite")

In [5]:
teammap = pd.read_csv("team.csv")
teammap

,Unnamed: 0,Team ID,Nickname,Year Founded,Team New ID,Team ID_drop,Team Name,Abbreviation,Nickname_drop,Team City,...,Head Coach,Development League Affliation,Facebook,Instagram,Twitter,Team ID_drop.2,Team City_drop.1,Nickname_drop.2,Year Founded_drop.2,Team Active Until
0,0,1610612737,Hawks,1949,4e91a2e0064de13f02a8e5bd31c463ef,1.610613e+09,Atlanta Hawks,ATL,Hawks,Atlanta,...,Nate McMillan,Erie Bayhawks,https://www.facebook.com/hawks,https://instagram.com/atlhawks,https://twitter.com/ATLHawks,NaN,NaN,NaN,NaN,NaN
1,1,1610612738,Celtics,1946,cee080874ccad94533aa9e299ed61adc,1.610613e+09,Boston Celtics,BOS,Celtics,Boston,...,Brad Stevens,Maine Red Claws,https://www.facebook.com/bostonceltics,https://instagram.com/celtics,https://twitter.com/celtics,1.610613e+09,Boston,Celtics,1946.0,2019.0
2,2,1610612739,Cavaliers,1970,d1c9f9cae7854800d5acaa35c8b2701d,1.610613e+09,Cleveland Cavaliers,CLE,Cavaliers,Cleveland,...,JB Bickerstaff,Canton Charge,https://www.facebook.com/Cavs,https://instagram.com/cavs,https://twitter.com/cavs,1.610613e+09,Cleveland,Cavaliers,1970.0,2019.0
3,3,1610612740,Pelicans,2002,bd2d27871eb860ec86046cab6d73be68,1.610613e+09,New Orleans Pelicans,NOP,Pelicans,New Orleans,...,Stan Van Gundy,No Affiliate,https://www.facebook.com/PelicansNBA,https://instagram.com/pelicansnba,https://twitter.com/PelicansNBA,NaN,NaN,NaN,NaN,NaN
4,4,1610612741,Bulls,1966,7462d53f5f02de769ec581ee2ef89bec,1.610613e+09,Chicago Bulls,CHI,Bulls,Chicago,...,Billy Donovan,Windy City Bulls,https://www.facebook.com/chicagobulls,https://instagram.com/chicagobulls,https://twitter.com/chicagobulls,1.610613e+09,Chicago,Bulls,1966.0,2019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,92,1610612764,Zephyrs,1962,6a0be10778fdd2d25c0ee001c610399b,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.610613e+09,Chicago,Zephyrs,1962.0,1962.0
93,93,1610612764,Packers,1961,0df7fba9c9da4445a604dbf57c67fbc4,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.610613e+09,Chicago,Packers,1961.0,1961.0
94,94,1610612765,Pistons,1957,58f3da3350447e5038e3d040983d93d2,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.610613e+09,Detroit,Pistons,1957.0,2019.0
95,95,1610612766,Hornets,2014,228cf9e497021b540437744e87ea4734,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.610613e+09,Charlotte,Hornets,2014.0,2019.0
96,96,1610612766,Bobcats,2004,65f84b9fb7932ec8967ec9ae99539575,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.610613e+09,Charlotte,Bobcats,2004.0,2013.0

In [7]:
teammap.to_sql("teammap",engine)

In [8]:
pd.read_sql("select * from teammap",engine)

,index,Unnamed: 0,Team ID,Nickname,Year Founded,Team New ID,Team ID_drop,Team Name,Abbreviation,Nickname_drop,...,Head Coach,Development League Affliation,Facebook,Instagram,Twitter,Team ID_drop.2,Team City_drop.1,Nickname_drop.2,Year Founded_drop.2,Team Active Until
0,0,0,1610612737,Hawks,1949,4e91a2e0064de13f02a8e5bd31c463ef,1.610613e+09,Atlanta Hawks,ATL,Hawks,...,Nate McMillan,Erie Bayhawks,https://www.facebook.com/hawks,https://instagram.com/atlhawks,https://twitter.com/ATLHawks,NaN,None,None,NaN,NaN
1,1,1,1610612738,Celtics,1946,cee080874ccad94533aa9e299ed61adc,1.610613e+09,Boston Celtics,BOS,Celtics,...,Brad Stevens,Maine Red Claws,https://www.facebook.com/bostonceltics,https://instagram.com/celtics,https://twitter.com/celtics,1.610613e+09,Boston,Celtics,1946.0,2019.0
2,2,2,1610612739,Cavaliers,1970,d1c9f9cae7854800d5acaa35c8b2701d,1.610613e+09,Cleveland Cavaliers,CLE,Cavaliers,...,JB Bickerstaff,Canton Charge,https://www.facebook.com/Cavs,https://instagram.com/cavs,https://twitter.com/cavs,1.610613e+09,Cleveland,Cavaliers,1970.0,2019.0
3,3,3,1610612740,Pelicans,2002,bd2d27871eb860ec86046cab6d73be68,1.610613e+09,New Orleans Pelicans,NOP,Pelicans,...,Stan Van Gundy,No Affiliate,https://www.facebook.com/PelicansNBA,https://instagram.com/pelicansnba,https://twitter.com/PelicansNBA,NaN,None,None,NaN,NaN
4,4,4,1610612741,Bulls,1966,7462d53f5f02de769ec581ee2ef89bec,1.610613e+09,Chicago Bulls,CHI,Bulls,...,Billy Donovan,Windy City Bulls,https://www.facebook.com/chicagobulls,https://instagram.com/chicagobulls,https://twitter.com/chicagobulls,1.610613e+09,Chicago,Bulls,1966.0,2019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,92,92,1610612764,Zephyrs,1962,6a0be10778fdd2d25c0ee001c610399b,NaN,None,None,None,...,None,None,None,None,None,1.610613e+09,Chicago,Zephyrs,1962.0,1962.0
93,93,93,1610612764,Packers,1961,0df7fba9c9da4445a604dbf57c67fbc4,NaN,None,None,None,...,None,None,None,None,None,1.610613e+09,Chicago,Packers,1961.0,1961.0
94,94,94,1610612765,Pistons,1957,58f3da3350447e5038e3d040983d93d2,NaN,None,None,None,...,None,None,None,None,None,1.610613e+09,Detroit,Pistons,1957.0,2019.0
95,95,95,1610612766,Hornets,2014,228cf9e497021b540437744e87ea4734,NaN,None,None,None,...,None,None,None,None,None,1.610613e+09,Charlotte,Hornets,2014.0,2019.0
96,96,96,1610612766,Bobcats,2004,65f84b9fb7932ec8967ec9ae99539575,NaN,None,None,None,...,None,None,None,None,None,1.610613e+09,Charlotte,Bobcats,2004.0,2013.0

In [3]:
championships = pd.read_json("total wins by year.json")
championships

      year                name  value  lastValue
0     1950      Boston Celtics      0          0
1     1951      Boston Celtics      0          0
2     1952      Boston Celtics      0          0
3     1953      Boston Celtics      0          0
4     1954      Boston Celtics      0          0
...    ...                 ...    ...        ...
1557  2016  Washington Bullets      1          1
1558  2017  Washington Bullets      1          1
1559  2018  Washington Bullets      1          1
1560  2019  Washington Bullets      1          1
1561  2020  Washington Bullets      1          1

[1562 rows x 4 columns]

In [9]:
championships.to_sql("championships", engine)

In [4]:
teambudget = pd.read_csv("team_budget.csv")
teambudget

,Unnamed: 0,nameTeam,slugTeam,urlTeamSalaryHoopsHype,X2020-21,X2021-22,X2022-23,X2023-24,X2024-25,X2025-26
0,0,Atlanta Hawks,ATL,http://hoopshype.com/salaries/atlanta_hawks/,118647039.0,95496087.0,59656896.0,18000000.0,0.0,0.0
1,1,Boston Celtics,BOS,http://hoopshype.com/salaries/boston_celtics/,132032864.0,132077647.0,95626895.0,62027548.0,34844000.0,37092000.0
2,2,Brooklyn Nets,BKN,http://hoopshype.com/salaries/brooklyn_nets/,168854452.0,165982367.0,157168219.0,19928571.0,0.0,0.0
3,3,Charlotte Hornets,CHA,http://hoopshype.com/salaries/charlotte_hornets/,108218809.0,83125939.0,44614401.0,31500000.0,0.0,0.0
4,4,Chicago Bulls,CHI,http://hoopshype.com/salaries/chicago_bulls/,128963580.0,96304124.0,22000000.0,0.0,0.0,0.0
5,5,Cleveland Cavaliers,CLE,http://hoopshype.com/salaries/cleveland_cavali...,128629143.0,90652433.0,46041645.0,6718842.0,0.0,0.0
6,6,Dallas Mavericks,DAL,http://hoopshype.com/salaries/dallas_mavericks/,127507823.0,84970945.0,59071146.0,36016200.0,0.0,0.0
7,7,Denver Nuggets,DEN,http://hoopshype.com/salaries/denver_nuggets/,129184135.0,125136013.0,74392370.0,43634326.0,36016200.0,0.0
8,8,Detroit Pistons,DET,http://hoopshype.com/salaries/detroit_pistons/,116973878.0,103380107.0,35197488.0,2866667.0,2866667.0,0.0
9,9,Golden State Warriors,GSW,http://hoopshype.com/salaries/golden_state_war...,170467299.0,160106508.0,101953999.0,70805664.0,0.0,0.0
10,10,Houston Rockets,HOU,http://hoopshype.com/salaries/houston_rockets/,132836984.0,92796702.0,90368533.0,22848583.0,0.0,0.0
11,11,Indiana Pacers,IND,http://hoopshype.com/salaries/indiana_pacers/,129408812.0,116253392.0,84188736.0,19400000.0,0.0,0.0
12,12,Los Angeles Clippers,LAC,http://hoopshype.com/salaries/los_angeles_clip...,138604159.0,144294736.0,80128634.0,77520080.0,48787763.0,0.0
13,13,Los Angeles Lakers,LAL,http://hoopshype.com/salaries/los_angeles_lakers/,138326578.0,119994657.0,109460411.0,53600080.0,43219440.0,0.0
14,14,Memphis Grizzlies,MEM,http://hoopshype.com/salaries/memphis_grizzlies/,131564083.0,87045462.0,25732621.0,10400000.0,0.0,0.0
15,15,Miami Heat,MIA,http://hoopshype.com/salaries/miami_heat/,134303159.0,77828964.0,68001300.0,32596000.0,34844000.0,37092000.0
16,16,Milwaukee Bucks,MIL,http://hoopshype.com/salaries/milwaukee_bucks/,135289205.0,143531830.0,135507831.0,122050499.0,87285253.0,51928800.0
17,17,Minnesota Timberwolves,MIN,http://hoopshype.com/salaries/minnesota_timber...,130280289.0,131265754.0,88301065.0,36016200.0,0.0,0.0
18,18,New Orleans Pelicans,NOP,http://hoopshype.com/salaries/new_orleans_peli...,133689123.0,91418170.0,68952429.0,33833400.0,36016200.0,0.0
19,19,New York Knicks,NYK,http://hoopshype.com/salaries/new_york_knicks/,97613692.0,48017364.0,0.0,0.0,0.0,0.0
20,20,Oklahoma City Thunder,OKC,http://hoopshype.com/salaries/oklahoma_city_th...,91599911.0,49837674.0,35107300.0,1930681.0,0.0,0.0
21,21,Orlando Magic,ORL,http://hoopshype.com/salaries/orlando_magic/,121651624.0,101547799.0,45400000.0,34400000.0,17400000.0,0.0
22,22,Philadelphia 76ers,PHI,http://hoopshype.com/salaries/philadelphia_76ers/,147401509.0,129159871.0,118760387.0,77163558.0,40338144.0,0.0
23,23,Phoenix Suns,PHO,http://hoopshype.com/salaries/phoenix_suns/,128858241.0,124828321.0,57182200.0,36016200.0,0.0,0.0
24,24,Portland Trail Blazers,POR,http://hoopshype.com/salaries/portland_trail_b...,131426055.0,131543365.0,83427762.0,86552469.0,54250000.0,0.0
25,25,Sacramento Kings,SAC,http://hoopshype.com/salaries/sacramento_kings/,105952605.0,100041976.0,69723001.0,51664183.0,34844000.0,37092000.0
26,26,San Antonio Spurs,SAS,http://hoopshype.com/salaries/san_antonio_spurs/,127903078.0,58174145.0,46555606.0,35821143.0,19321429.0,0.0
27,27,Toronto Raptors,TOR,http://hoopshype.com/salaries/toronto_raptors/,128541542.0,88847935.0,74055815.0,79360339.0,19928571.0,0.0
28,28,Utah Jazz,UTA,http://hoopshype.com/salaries/utah_jazz/,136048278.0,130397746.0,120253320.0,96775040.0,78050560.0,83086080.0
29,29,Washington Wizards,WAS,http://hoopshype.com/salaries/washington_wizards/,131265055.0,120309003.0,100325777.0,17000000.0,16000000.0,0.0