In [3]:
import pandas as pd

In [4]:
pwd

'/Users/girgs/Desktop/mapping_mambas'

In [5]:
nba_finals_db = pd.read_csv("csv_files/raw_file/NBA Finals and MVP.csv")

In [6]:
nba_finals_db

,Year,Western Champion,Eastern Champion,Result,NBA Champion,NBA Vice-Champion,Final Sweep ?,MVP Name,MVP Height (m),MVP Height (ft),MVP Position,MVP Team,MVP Nationality,MVP status
0,1950,Minneapolis Lakers,Syracuse Nationals,4–2,Minneapolis Lakers,Syracuse Nationals,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1951,Rochester Royals,New York Knicks,4–3,Rochester Royals,New York Knicks,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1952,Minneapolis Lakers,New York Knicks,4–3,Minneapolis Lakers,New York Knicks,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1953,Minneapolis Lakers,New York Knicks,4–1,Minneapolis Lakers,New York Knicks,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1954,Minneapolis Lakers,Syracuse Nationals,4–3,Minneapolis Lakers,Syracuse Nationals,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66,2016,Golden State Warriors,Cleveland Cavaliers,4–3,Cleveland Cavaliers,Golden State Warriors,False,S. Curry,1.91,6.27,Guard,Golden State Warriors,US,Vice-Champion
67,2017,Golden State Warriors,Cleveland Cavaliers,4-2,Golden State Warriors,Cleveland Cavaliers,False,R. Westbrook,1.91,6.27,Guard,Oklahoma City Thunder,US,Not reached Final
68,2018,Golden State Warriors,Cleveland Cavaliers,4-0,Golden State Warriors,Cleveland Cavaliers,True,J. Harden,1.96,6.50,Guard,Houston Rockets,US,Not reached Final
69,2019,Golden State Warriors,Toronto Raptors,4-2,Toronto Raptors,Golden State Warriors,False,G. Antetokounmpo,NaN,NaN,Forward,Milwaukee Bucks,Geece,Not reached Final
70,2020,Los Angeles Lakers,Miami Heat,4-1,Los Angeles Lakers,Miami Heat,False,G. Antetokounmpo,NaN,NaN,Forward,Milwaukee Bucks,Greece,Not reached Final

In [7]:
champions_by_year = nba_finals_db[['Year', 'NBA Champion']]
champions_by_year

    Year           NBA Champion
0   1950     Minneapolis Lakers
1   1951       Rochester Royals
2   1952     Minneapolis Lakers
3   1953     Minneapolis Lakers
4   1954     Minneapolis Lakers
..   ...                    ...
66  2016    Cleveland Cavaliers
67  2017  Golden State Warriors
68  2018  Golden State Warriors
69  2019        Toronto Raptors
70  2020     Los Angeles Lakers

[71 rows x 2 columns]

In [8]:
runner_up_by_year = nba_finals_db[['Year', 'NBA Vice-Champion']]
runner_up_by_year

    Year      NBA Vice-Champion
0   1950     Syracuse Nationals
1   1951        New York Knicks
2   1952        New York Knicks
3   1953        New York Knicks
4   1954     Syracuse Nationals
..   ...                    ...
66  2016  Golden State Warriors
67  2017    Cleveland Cavaliers
68  2018    Cleveland Cavaliers
69  2019  Golden State Warriors
70  2020             Miami Heat

[71 rows x 2 columns]

In [9]:
mvp_by_year = nba_finals_db[['Year', 'MVP Name']]
mvp_by_year

    Year          MVP Name
0   1950               NaN
1   1951               NaN
2   1952               NaN
3   1953               NaN
4   1954               NaN
..   ...               ...
66  2016          S. Curry
67  2017      R. Westbrook
68  2018         J. Harden
69  2019  G. Antetokounmpo
70  2020  G. Antetokounmpo

[71 rows x 2 columns]

In [10]:
finals_appearance = nba_finals_db[['Year', 'Western Champion', 'Eastern Champion']]
finals_appearance

    Year       Western Champion     Eastern Champion
0   1950     Minneapolis Lakers   Syracuse Nationals
1   1951       Rochester Royals      New York Knicks
2   1952     Minneapolis Lakers      New York Knicks
3   1953     Minneapolis Lakers      New York Knicks
4   1954     Minneapolis Lakers   Syracuse Nationals
..   ...                    ...                  ...
66  2016  Golden State Warriors  Cleveland Cavaliers
67  2017  Golden State Warriors  Cleveland Cavaliers
68  2018  Golden State Warriors  Cleveland Cavaliers
69  2019  Golden State Warriors      Toronto Raptors
70  2020     Los Angeles Lakers           Miami Heat

[71 rows x 3 columns]

In [11]:
champions_by_year.to_csv("csv_files/champions_by_year.csv", index=False)
runner_up_by_year.to_csv("csv_files/runner_up_by_year.csv", index=False)
mvp_by_year.to_csv("csv_files/mvp_by_year.csv", index=False)
finals_appearance.to_csv("csv_files/finals_appearance.csv", index=False)